.my-form {
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
    margin-top: 60px;
    background-color: #7FB3D5;
    width: 35%;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    height: 450px;
    overflow: auto;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#AllForms{
    overflow:auto ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.my-form-tags{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: #7FB3D5;
    width: 35%;
    align-items:  center;
    border: 2px solid #333;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overflow{
overflow: auto;
height: 70px;
}

#Create-Project-Title-Requests{
  margin-top: 50px;
}

.left {
    margin-left: 60px;
    margin-right: auto;
  }

.my-form-field {
    width: 70%;
}

.my-form-collection {
    display: flex;
    flex-direction: row;
}

#Next-Form-Step{
  font-size: 30px;
  position: absolute;
  bottom: 120px;
  right: 180px;
  border: none;
  background: none;
}
