<div class="my-form">
    <h1 id="Create-Project-Title">Criação de Projeto</h1>
    <mat-form-field class="my-form-field" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="my-form-field" appearance="fill">
       
        <mat-label>Tipo</mat-label>
        <mat-select name="options" [(ngModel)]="selectedOption">
            <mat-option *ngFor="let option of myOptions" [value]="option.value">
                {{option.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="my-form-field" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>