<div id="AllForms" class="my-form-collection">
    <div class="my-form">
        <mat-form-field class="my-form-field" appearance="fill">
            <h1 id="Create-Project-Title">Denominação e Conceito</h1>
            <mat-label>Nome</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="my-form-field" appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select name="options" [(ngModel)]="selectedOption">
                <mat-option *ngFor="let option of myOptions" [value]="option.value">
                    {{option.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="my-form-field" appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div class="my-form-tags">
        <h1 id="Create-Project-Title">Requsito Técnico: Personificado</h1>
        <mat-form-field class="my-form-field">
            <mat-label>Profissionais necessários para o projeto</mat-label>
            <mat-chip-grid #chipGrid aria-label="Fruit selection" >
                <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <section class="example-section left">
            <span class="example-list-section">
                <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                    [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                    {{task.name}}
                </mat-checkbox>
            </span>
            <span class="example-list-section">
                <ul>
                    <li *ngFor="let subtask of task.subtasks">
                        <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                            {{subtask.name}}
                            <fa-icon [icon]="subtask.icon"></fa-icon>
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
    </div>
</div>
